template(name='addPlan')
  p This is the Plan page of armory {{$.Session.get 'user_repos'}}
  if (getError)
    | {{> appError err=getError}}
  if (currentUser)
    p  current user armory repo
    table.table.table-striped.table-hover
      thead
        tr
          th #
          |       
          th Name
          |       
          th url
          |     
          th tag
      tbody
        each getUserArmoryRepos
          tr
            td
              button(id=name).addBp add
            |       
            td= armory_info.name
            |       
            td= url
            |       
            td= armory_info.tags